{% extends 'base_template.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
     <title>
        {% block title %} Cardnected: Conversation Card Game {% endblock %}
     </title>
</head>

{% block content%}
<style>
    button:focus,
    input:focus,
    textarea:focus,
    select:focus {
      outline: none; }
    
    .tabs {
      display: block;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0;
      overflow: hidden; }
      .tabs [class^="tab"] label,
      .tabs [class*=" tab"] label {
        color: #c9c9c9;
        cursor: pointer;
        display: block;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1em;
        padding: 2rem 0;
        text-align: center; }
      .tabs [class^="tab"] [type="radio"],
      .tabs [class*=" tab"] [type="radio"] {
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
        .tabs [class*=" tab"] [type="radio"]:hover,
        .tabs [class*=" tab"] [type="radio"]:focus {
          border-bottom: 1px solid #d8183b; }
        .tabs [class^="tab"] [type="radio"]:checked,
        .tabs [class*=" tab"] [type="radio"]:checked {
          border-bottom: 2px solid #db163a; }
        .tabs [class^="tab"] [type="radio"]:checked + div,
        .tabs [class*=" tab"] [type="radio"]:checked + div {
          opacity: 1; }
        .tabs [class^="tab"] [type="radio"] + div,
        .tabs [class*=" tab"] [type="radio"] + div {
          display: block;
          opacity: 0;
          padding: 1.5vw 0;
          width: 90%;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
      .tabs .tab-2 {
        width: 50%; }
        .tabs .tab-2 [type="radio"] + div {
          width: 200%;
          margin-left: 200%; }
        .tabs .tab-2 [type="radio"]:checked + div {
          margin-left: 0; }
        .tabs .tab-2:last-child [type="radio"] + div {
          margin-left: 100%; }
        .tabs .tab-2:last-child [type="radio"]:checked + div {
          margin-left: -100%; }
</style>

<div class="container">

    <div class="background">
        <div class="background">
            <img loading="lazy" class="center background"src="{% static 'images/logoBG.svg' %}" style="width: 60%;position: absolute; top:922px; right:0;opacity:0.6;" >
        </div>
    </div>

    <div class="background pc-only">
        <div class="background">
            <img loading="lazy" id="buletGede" src="{% static 'images/bigBolb.png' %}" style="position: absolute; width: 44%; top:0; right:0;" 
            class="rellax background" data-rellax-speed="-3">
        </div>
    </div>


    <div class="background ">
        <div class="background pc-only" style="position: absolute; top:0; left:0;">
            <img loading="lazy" src="{% static 'images/smallBolb.png' %}" style="width: 99%;" 
            class="rellax" data-rellax-speed="-6">
        </div>
    </div>

    <div class="background ">
        <div class="background mobile" style="position: absolute; top:0; right:0;">
            <img loading="lazy" src="{% static 'images/smallBolb2.png' %}" style="width: 99%;" 
            class="rellax" data-rellax-speed="-6">
        </div>
    </div>

    <div class="background">
        <div class="background" style="position: absolute; top:368px; left:0;">
            <img loading="lazy" src="{% static 'images/blush.png' %}" style="width: 100%;">
        </div>
    </div>

    <div class="background">
        <div class="background" style="position: absolute; top:1131px; right:0;">
            <img loading="lazy" src="{% static 'images/blush3.png' %}" style="width: 100%;">
        </div>
    </div>

    
    <div class="background">
        <div class="background" style="position: absolute; top:2928px; left:0;">
            <img loading="lazy" src="{% static 'images/blush.png' %}" style="width: 100%;">
        </div>
    </div>

    <div class="background pc-only">
        <div class="background" style="position: absolute; top:1400px;left:0;opacity:0.5;">
            <img loading="lazy" src="{% static 'images/bigbg.svg' %}" style="width: 100%;" 
            class="rellax lazy" data-rellax-speed="-3">
        </div>
    </div>

    <div class="background ">
        <div class="background">
            <img loading="lazy" class="roung lazy"src="{% static 'images/roung.svg' %}">
        </div>
    </div>

    <section id="hero">
        <div class="col-lg-12 row">
            <div class="col-lg-7 padding-full margin rellax" data-rellax-speed="2">
            
                <h1 class="title herotext">Talk<br>to Anyone,<br> <span id="anot">Stay connected.</span></h1>
                <div class="col-lg-12 paddingless">
                    <p class="header" style="letter-spacing: 0.010em;">The <span id="anot2">best conversation</span> starts with one good question.
                        <br><span class="bodytext"><i>Imagine you have an unlimited amount of it accessible <b>online</b>.</i></span>
                    </p>
                </div>

                <div style="display:inline-block;padding-top:1vw">
                    <button class="primary playNowButton" style="display:inline-block; text-align:center">Play Now</button>
                </div> 

            </div>

            <div class="col-lg-5 rellax pc-only" data-rellax-speed="0">
                <div class="center">
                    <div class="stack">

                        <div class="cardd"> <img loading="lazy" class="background card-shadow lazy" src="{% static 'images/C1.png' %}" style="width: 91%;transform: rotate(-5deg)"> </div>
                        <div class="cardd"> <img loading="lazy" class="background card-shadow lazy" src="{% static 'images/C2.png' %}" style="width: 91%; transform: rotate(4deg)"> </div>
                        <div class="cardd"> <img loading="lazy" class="background card-shadow lazy"src="{% static 'images/C3.png' %}" style="width: 91%;"> </div>
                        <div class="cardd"> <img loading="lazy" class="background card-shadow lazy"src="{% static 'images/C4.png' %}" style="width: 91%; transform: rotate(-5deg)"> </div>
                        <div class="cardd"> <img loading="lazy" class="background card-shadow rotate lazy"src="{% static 'images/C5.png' %}" style="width: 91%;"> </div>
                        <div class="cardd"> <img loading="lazy" class="background card-shadow lazy"src="{% static 'images/C6.png' %}" style="width: 91%; transform: rotate(2deg)"> </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 background">
            <div class=" rellax pc-only" data-rellax-speed="-1">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player mode="bounce" class="center" src="https://assets2.lottiefiles.com/packages/lf20_4hht5fjk.json"  background="transparent"  speed="0.7"  style="width: 200px; margin-top:-10vw"  loop  autoplay></lottie-player>
            </div>
        </div>
        <div class="col-lg-12 background">
            <div class=" rellax mobile" data-rellax-speed="2">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player mode="bounce" class="center" src="https://assets2.lottiefiles.com/packages/lf20_4hht5fjk.json"  background="transparent"  speed="0.7"  style="width: 200px; margin-top:-22vw"  loop  autoplay></lottie-player>
            </div>
        </div>
        <div class="row mobile rellax" data-rellax-speed="2">
            <div id="cardHero" class="owl-carousel owl-theme" style="margin-top: -7vw;">

                <div class="item"style="margin-bottom: 0px;">
                    <div class="shadow-effect">
                        <img loading="lazy" class="img-responsive lazy" src="{% static 'images/C1.png' %}">
                    </div>
                </div>
                <div class="item"style="margin-bottom: 0px;">
                    <div class="shadow-effect">
                        <img loading="lazy" class="img-responsive lazy" src="{% static 'images/C2.png' %}">
                    </div>
                </div>
                <div class="item"style="margin-bottom: 0px;">
                    <div class="shadow-effect">
                        <img loading="lazy" class="img-responsive lazy" src="{% static 'images/C3.png' %}">
                    </div>
                </div>
                <div class="item"style="margin-bottom: 0px;">
                    <div class="shadow-effect">
                        <img loading="lazy" class="img-responsive lazy" src="{% static 'images/C4.png' %}">
                    </div>
                </div>
                <div class="item"style="margin-bottom: 0px;">
                    <div class="shadow-effect">
                        <img loading="lazy" class="img-responsive lazy" src="{% static 'images/C5.png' %}">
                    </div>
                </div>
                <div class="item"style="margin-bottom: 0px;">
                    <div class="shadow-effect">
                        <img loading="lazy" class="img-responsive lazy" src="{% static 'images/C6.png' %}">
                    </div>
                </div>

            </div>
        </div>

    </section>
    
    <section id="about" class="marginLebay">
        <div class="col-lg-12 row margin">

            <div class="col-lg-6">
                <h4 class=title><span style="color: maroon;"><u>about</u></span></h4>
                <h1 class="title titletext"id="anot3" style="display: inline;">card<span style="font-weight: 300;">nected</span></h1>
                <p class="padding-y" style="line-height: 172%;letter-spacing: 0.010em;">
                    <span class="title bodytext">cardnected</span> is a <i>"conversation card"</i> 
                    game  platform  providing sets of deep questions 
                    designed to build up a valuable experience by creating a meaningful conversation.
                    <br><br>
                        We aim to <u>remove the barriers</u> to building new or strengthening the existing social connections online, <b><i>Enabling Happiness and Productivity at Home #StayAtHome.</i></b>
                </p>

            </div>

            <div class="col-lg-6">
                <img loading="lazy" class="center centerver pc-only lazy" id="logoLarge" src="{% static 'images/logoLarge.png' %}" style="width: 55%;" class="padding-y center">
            </div>

        </div>
    </section>

    <section id="goals" class="marginLebay">
        <div class="margin" style=margin-top:10vw>
            <div class="col-lg-12 margin text-center">
                <h4 class=title><span style="color: maroon;"><u>our goals</u></span></h4>
                <h1 class="title titletext"> what we’re trying to <span id="anot3">solve</span></h1>
                <div class=center">
                    <p class="padding-y bodytext2"> 
                        We believe that <b><i>happiness is the key to everything.</i></b>
                        And having more social interactions led to
                        greater<span class="dots">... </span> 
                        <span class="more">
                        levels of happiness and wellbeing. But the ongoing pandemic has hugely affected our social relationships. 
                            Making it harder for us to connect.
                        </span>
                        <b><a class="readMore gaegu">Read more</a></b>
                        <!-- The ongoing pandemic has affected our social life interaction. We  you can create a sense of closeness or intimacy with another person simply by asking and answering a set of questions together  -->
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div id="customers-testimonials" class="owl-carousel owl-theme">

                        <div class="item"style="margin-bottom: 0px;">
                            <div class="shadow-effect">
                                <img loading="lazy" class="img-responsive" src="{% static 'images/2.png' %}">
                                <div class="item-details text-center" >
                                    <h3 class="title">Loneliness <br>Kills</h3>
                                    <span class="dots2"></span>
                                    <span class=more2>
                                        <p class="padding-y bodytext" style="line-height: 172%;letter-spacing: 0.010em;">
                                            Loneliness can kill as surely <b>as smoking 15 cigarettes a day</b>
                                            <br><br><u>Brigham Young University, 2017</u>
                                        </p>
                                    </span>
                                    <b><a class="expand gaegu">▼</a></b>
                                </div>
                            </div>
                        </div>

                        <div class="item"style="margin-bottom: 0px;">
                            <div class="shadow-effect">
                                <img loading="lazy" class="img-responsive" src="{% static 'images/1.png' %}">
                                <div class="item-details text-center" >
                                    <h3 class="title">The Increasing Loneliness</h3>
                                    <span class="dots2"></span>
                                    <span class=more2>
                                        <p class="padding-y bodytext" style="line-height: 172%;letter-spacing: 0.010em;">
                                            More than 7 in 10 adults said 
                                            <b>the pandemic has made it more difficult for them to connect with friends,</b>
                                            resulting in an absence of meaningful social relationships.
                                            <br><br><u>AARP Foundation and United Health Foundation, 2020</u>
                                        </p>
                                    </span>
                                    <b><a class="expand gaegu">▼</a></b>
                                </div>
                            </div>
                        </div>

                        <div class="item"style="margin-bottom: 0px;">
                            <div class="shadow-effect">
                                <img loading="lazy" class="img-responsive" src="{% static 'images/3.png' %}">
                                <div class="item-details text-center" >
                                    <h3 class="title">It’s hard to "connect" <i>online</i></h3>
                                    <span class="dots2"></span>
                                    <span class=more2>
                                        <p class="padding-y bodytext" style="line-height: 172%;letter-spacing: 0.010em;">
                                            Our little ‘sips’ of online connections don’t add up to a big gulp of real conversation.
                                            <b>Youth are less “connected” than they were in the past</b>
                                            <br><br><u>iBrain: Surviving the technological alteration of the modern mind, 2008</u>
                                        </p>
                                    </span>
                                    <b><a class="expand gaegu">▼</a></b>
                                </div>
                            </div>
                        </div>

                        <div class="item"style="margin-bottom: 0px;">
                            <div class="shadow-effect">
                                <img loading="lazy" class="img-responsive" src="{% static 'images/4.png' %}">
                                <div class="item-details text-center" >
                                    <h3 class="title">Small talk does not build relationships</h3>
                                    <span class="dots2"></span>
                                    <span class=more2>
                                        <p class="padding-y bodytext" style="line-height: 172%;letter-spacing: 0.010em;">
                                            Happy and unhappy people differ in the types of conversations they have.
                                            <b>Banning small talk from your conversations makes you happier.</b>
                                            <br><br><u>University of Arizona and Washington University, 2010</u>
                                        </p>
                                    </span>
                                    <b><a class="expand gaegu">▼</a></b>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="howtoplay" class="marginLebay">
        <h4 class="title text-center"><span style="color: maroon;"><u>the "rules"</u></span></h4>
        <h1 class="title titletext text-center"> how to <span id="anot3">play</span></h1>
        <div class="row margin" style="margin-bottom:4vw;">

            <div class="col-lg-5">
                <div id="gameplayOWL" class="owl-carousel owl-theme">
                    <lottie-player id="online" class="center" src="https://assets5.lottiefiles.com/private_files/lf30_3wh787gr.json" background="transparent" speed="1" style="max-width: 400px; width: 100%; max-height: 400px;" loop autoplay></lottie-player>            
                    <lottie-player id="offline" class="center" src="https://assets2.lottiefiles.com/private_files/lf30_nitfih6m.json" background="transparent" speed="1" style="max-width: 377px; width: 100%; max-height: 377px;" loop autoplay></lottie-player>            
                </div>
            </div>

            <div class="col-lg-7" style="margin: -3vw 0 0 0;">

                <div class="tabs">
                    <div class="tab-2">
                        <label for="tab2-1" style="color: maroon;padding-bottom: 1vw;">ONLINE</label>
                        <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
                        <div>
                            <ul class="padding-y pc-only" style="padding-left:2vw;list-style:decimal">
                                <li>Ask anyone to join you to play the game together.</li>
                                <li>Set up any video conference call</li>
                                <li>Customize your game <a href="{% url 'gameplay' %}">here</a>, then </li>
                                <li><u>Share your screen</u> so the other player can pick and answer the cards</li>
                                <span class=oliver><b>Enjoy the experience!</b></span>
                            </ul>
        
                            <ul class="padding-y mobile marginMobile" style="padding-left:2.5vw;list-style:decimal">
                                <li>Ask anyone to join you to play the game together.</li>
                                <li>Set up any video conference call</li>
                                <li>Customize your game <a href="{% url 'gameplay' %}">here</a>, then </li>
                                <li><u>Share your screen</u> so the other player can pick and answer the cards</li>
                                <span class=oliver><b>Enjoy the experience!</b></span>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-2">
                        <label for="tab2-2" style="color: maroon;padding-bottom: 1vw;">OFFLINE</label>
                        <input id="tab2-2" name="tabs-two" type="radio">
                        <div>
                            <ul class="padding-y pc-only" style="padding-left:2vw;list-style:decimal">
                                <li>Ask anyone to join you to play the game together.</li>
                                <li>You can play with <u>one device for all</u>, or <u> one device for each player</u>. Whatever suits you the most</li>
                                <li>Customize your game <a href="{% url 'gameplay' %}">here</a>, then </li>
                                <li>Take turns to pick and answer the cards!</li>
                                <span class=oliver><b>Enjoy the experience!</b></span>
                            </ul>
        
                            <ul class="padding-y mobile marginMobile" style="padding-left:2.5vw;list-style:decimal">
                                <li>Ask anyone to join you to play the game together.</li>
                                <li>You can play with <u>one device for all</u>, or <u> one device for each player</u>. Whatever suits you the most</li>
                                <li>Customize your game <a href="{% url 'gameplay' %}">here</a>, then </li>
                                <li>Take turns to pick and answer the cards!</li>
                                <span class=oliver><b>Enjoy the experience!</b></span>
                            </ul>
                          </div>
                     </div>
                </div>

                    

                <p class="bodytext2">While the rules of the game are really <u>up to you</u>, we do have a few suggestions for how to play.</p>
                <div class="aks-accordion" itemscope data-accordion="">
                    <div class="aks-accordion-row">
                        <div class="aks-accordion-item" itemscope itemprop="mainEntity" data-accordion-item="" data-ripple="#00000026">
                            <div class="aks-accordion-item-row">
                                <div class="aks-accordion-item-icon">
                                    <svg class="aks-accordion-item-icon-open" viewBox="0 0 512 512">
                                    <path d="M492,236H276V20c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v216H20c-11.046,0-20,8.954-20,20s8.954,20,20,20h216
                                    v216c0,11.046,8.954,20,20,20s20-8.954,20-20V276h216c11.046,0,20-8.954,20-20C512,244.954,503.046,236,492,236z" /></svg>
                                    <svg class="aks-accordion-item-icon-close" viewBox="0 0 512 512">
                                    <path d="M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z" /></svg>
                        
                                </div>
                                <div class="aks-accordion-item-title oliver titletext">
                                    <h4 itemprop="name"><b>Classic</b></h4>
                                </div>
                            </div>
                            <div class="aks-accordion-item-content" itemscope itemprop="acceptedAnswer" data-accordion-content="">
                                <p class="gaegu card-text">
                                    <b>Each take turns choosing a card, then everyone answers the same question</b>
                                </p>
                            </div>
                        </div>
                    
                        <div class="aks-accordion-item" itemscope itemprop="mainEntity" data-accordion-item="" data-ripple="#00000026">
                            <div class="aks-accordion-item-row">
                                <div class="aks-accordion-item-icon">
                                    <svg class="aks-accordion-item-icon-open" viewBox="0 0 512 512">
                                    <path d="M492,236H276V20c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v216H20c-11.046,0-20,8.954-20,20s8.954,20,20,20h216
                                    v216c0,11.046,8.954,20,20,20s20-8.954,20-20V276h216c11.046,0,20-8.954,20-20C512,244.954,503.046,236,492,236z" /></svg>
                                    <svg class="aks-accordion-item-icon-close" viewBox="0 0 512 512">
                                    <path d="M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z" /></svg>
                                </div>
                                <div class="aks-accordion-item-title oliver titletext">
                                    <h4 itemprop="name"><b>Popcorn</b></h4>
                                </div>
                            </div>
                            <div class="aks-accordion-item-content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" data-accordion-content="">
                                <p class="gaegu card-text"><b>
                                    Have everyone pick a different question each, and then
                                    take turns answering them.</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display:inline-block;padding-top:2vw">
                    <button class="primary playNowButton" style="display:inline-block;">Play Now</button>
                </div> 
            </div>
        </div>
    </section>
       
    <section id="cardpack" class="marginLebay">
        <div class="col-lg-12 text-center">
            <h4 class=title><span style="color: maroon;"><u>collection</u></span></h4>
            <h1 class="title titletext">Card Pack</h1>
            <p class=padding-y>
                
            </p>
        </div>
        
        <div class="col-lg-12 center text-center scrolling-wrapper" >
            <div style="margin-bottom:2vw">
                <div class="kotak">
                    <button type="button" class="btn btn-outline-danger linkin padding" style="border-radius: 30px;text-transform: none; margin:0 1vw;" href="#IceBreak">
                        Ice Break
                    </button>
                </div>

                <div class="kotak">
                    <button type="button" class="btn btn-outline-danger linkin padding" style="border-radius: 30px;text-transform: none; margin:0 1vw;" href="#MixNMatch">
                        Mix & Match
                    </button>
                </div>
                <div class="kotak">
                    <button type="button" class="btn btn-outline-danger linkin padding" style="border-radius: 30px;text-transform: none; margin:0 1vw;" href="#DigDeeper">
                        Dig Deeper
                    </button>
                </div>
                <div class="kotak">
                    <button type="button" class="btn btn-outline-danger linkin padding" style="border-radius: 30px;text-transform: none; margin:0 1vw;" href="#Lovebirds">
                        Lovebirds Edition
                    </button>
                </div>
                <div class="kotak">
                    <button type="button" class="btn btn-outline-danger linkin padding" style="border-radius: 30px;text-transform: none; margin:0 1vw;" href="#Stranger">
                        Stranger
                    </button>
                </div>
                <div class="kotak">
                    <button type="button" class="btn btn-outline-danger linkin padding" style="border-radius: 30px;text-transform: none; margin:0 1vw;" href="#Perspective">
                        Perspective
                    </button>
                </div>
            </div>

        </div>

        <div class="row padding-y">
            <div class="col-lg-12">
                <div id="cardpack-carousel" class="owl-carousel owl-theme">
                    {% csrf_token %}
                    {% for pack in pack %}
                    <div class="item"style="margin-bottom: 0px;" data-hash="{{ pack.pack }}">
                        <div class="shadow-effect">
                            <a class="linkin" href="pack/{{ pack.id }}">
                                <img loading="lazy" class="img-responsive center cardpack" src="{{ pack.image }}" style="width:89%;">
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="center text-center" style="padding-top:1vw">
            <button class="primary playNowButton center" >Play Now</button>
        </div> 

    </section>
      
    <a class="typeform-share button" href="https://form.typeform.com/to/LJzglif8?typeform-medium=embed-snippet" data-mode="popover" style="width:54px;height:54px;position:fixed;box-shadow:0px 2px 12px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.08);right:26px;bottom:26px;border-radius:50%;display:flex;align-items:center;justify-content:center;cursor:pointer;background:rgba(218, 42, 42, 0.979);overflow:hidden;line-height:0;z-index: 999;" target="_blank"> <span class="icon"> <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' style="margin-top:6px;"> <path d='M21 0H0V9L10.5743 24V16.5H21C22.6567 16.5 24 15.1567 24 13.5V3C24 1.34325 22.6567 0 21 0ZM7.5 9.75C6.672 9.75 6 9.07875 6 8.25C6 7.42125 6.672 6.75 7.5 6.75C8.328 6.75 9 7.42125 9 8.25C9 9.07875 8.328 9.75 7.5 9.75ZM12.75 9.75C11.922 9.75 11.25 9.07875 11.25 8.25C11.25 7.42125 11.922 6.75 12.75 6.75C13.578 6.75 14.25 7.42125 14.25 8.25C14.25 9.07875 13.578 9.75 12.75 9.75ZM18 9.75C17.172 9.75 16.5 9.07875 16.5 8.25C16.5 7.42125 17.172 6.75 18 6.75C18.828 6.75 19.5 7.42125 19.5 8.25C19.5 9.07875 18.828 9.75 18 9.75Z' fill='white' /> </svg> </span> </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
</div>


<script type="module">
    import { annotate } from 'https://unpkg.com/rough-notation?module';
    const e = document.querySelector('#anot');
    const annotation = annotate(e, { type: 'underline', color: 'rgba(218, 42, 42, 0.979)' });

    const e2 = document.querySelector('#anot2');
    const annotation2 = annotate(e2, { type: 'highlight', color: 'rgba(218,42, 42, 0.2)' });

    const e3 = document.querySelector('#anot3');
    const annotation3 = annotate(e3, { type: 'highlight', color: 'rgba(217,57, 57, 0.55)' });

    $(document).ready(function(){
        $(".title").hover(function(){
            annotation.show();
        });
        $("#anot3").hover(function(){
            annotation3.show();
        });
        $(".stack").hover(function(){
            annotation2.show();
        });
    })

    let stack = document.querySelector(".stack");
    Array.prototype.slice.call(stack.children).reverse().forEach(i => stack.append(i));

    stack.addEventListener("click", swap);

    function swap(e) {
    let cardd = document.querySelector(".cardd:last-child");
    if (e.target !== cardd) return;
    cardd.style.animation = "swap 700ms forwards";

        setTimeout(() => {
            cardd.style.animation = "";
            stack.prepend(cardd);
        }, 700);
    }

    
    (function () {
        "use strict";
        var jQueryPlugin = (window.jQueryPlugin = function (ident, func) {
        return function (arg) {
            if (this.length > 1) {
            this.each(function () {
                var $this = $(this);
    
                if (!$this.data(ident)) {
                $this.data(ident, func($this, arg));
                }
            });
    
            return this;
            } else if (this.length === 1) {
            if (!this.data(ident)) {
                this.data(ident, func(this, arg));
            }
    
            return this.data(ident);
            }
        };
        });
    })();
  
    (function () {
        "use strict";
        function Accordion($roots) {
        var element = $roots;
        var accordion = $roots.first("[data-accordion]");
        var accordion_target = $roots.find("[data-accordion-item]");
        var accordion_content = $roots.find("[data-accordion-content]");
        $(accordion_target).click(function () {
            $(this).toggleClass("opened");
            $(this).find(accordion_content).slideToggle("slow");
            $(this).siblings().find(accordion_content).slideUp("slow");
            $(this).siblings().removeClass("opened");
        });
        }
        $.fn.Accordion = jQueryPlugin("Accordion", Accordion);
        $("[data-accordion]").Accordion();
    
        function Ripple_Button($root) {
        var elements = $root;
        var ripple_btn = $root.first("[data-ripple]");
        $(ripple_btn).on("click", function (event) {
            event.preventDefault();
            var $div = $("<div/>"),
            btnOffset = ripple_btn.offset(),
            xPos = event.pageX - btnOffset.left,
            yPos = event.pageY - btnOffset.top;
            $div.addClass("ripple-effect");
            $div.css({
            height: ripple_btn.height(),
            width: ripple_btn.height(),
            top: yPos - $div.height() / 2,
            left: xPos - $div.width() / 2,
            background: ripple_btn.data("ripple") || "#ffffff26"
            });
            ripple_btn.append($div);
    
            window.setTimeout(function () {
                $div.remove();
                }, 1000);
        });
        }
        $.fn.Ripple_Button = jQueryPlugin("Ripple_Button", Ripple_Button);
        $("[data-ripple]").Ripple_Button();
    })();

</script>

{% endblock content %}